@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);

:root {
    --kami-red: #D40707;
    --super-soft-red: #fff6f6;
    --ultra-soft-red: #fffbfb;
    --not-so-super-soft-red: #ffefef;
    --soft-red: #FFB2B2FF;
    --not-so-soft-red: #ff3737;
    --sidebar-color: var(--soft-red);
    --kami-text-color: #8d8d8d
}

body, html, header {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Sniglet', cursive;
    background-color: red;
    color: white;
}

/* Animation webkit */
@-webkit-keyframes myfirst {
    0% {
        margin-left: -235px
    }
    90% {
        margin-left: 100%;
    }
    100% {
        margin-left: 100%;
    }
}

/* Animation */
@keyframes myfirst {
    0% {
        margin-left: -235px
    }
    70% {
        margin-left: 100%;
    }
    100% {
        margin-left: 100%;
    }
}

.fish {
    background-image: url('http://www.geertjanhendriks.nl/codepen/form/fish.png');
    width: 235px;
    height: 104px;
    margin-left: -235px;
    position: absolute;
    animation: myfirst 24s;
    -webkit-animation: myfirst 24s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
}

#fish {
    top: 120px;
}

#fish2 {
    top: 260px;
}


header {
    height: 10%;
    background-color: var(--not-so-super-soft-red);
    border-radius: 0;
}

#form {
    height: 100%;
    background-color: #98d4f3;
    overflow: hidden;
    position: relative;

}

form {
    margin: 0 auto;
    width: 500px;
    padding-top: 40px;
    color: white;
    position: relative;
}

label, input, textarea {
    display: block;
}

input, textarea {
    width: 500px;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    font-family: 'Sniglet', cursive;
    font-size: 1em;
    color: #676767;
    border: solid 3px #98d4f3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input:focus, textarea:focus {
    border: solid 3px #77bde0;
}

textarea {
    height: 100px;
    resize: none;
    overflow: auto;
}

input[type="submit"] {
    background-color: #F90;
    color: white;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 1.29em;
    font-family: 'Sniglet', cursive;
}

input[type="submit"]:hover {
    background-color: #e58f0e;
}

label {
    font-size: 1.5em;
    margin-top: 20px;
    padding-left: 20px;
}

.formgroup, .formgroup-active, .formgroup-error {
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 10.5%;
    width: 500px;
    padding-top: 2px;
}

.formgroup {
    background-image: url('http://www.geertjanhendriks.nl/codepen/form/pixel.gif');
}

.formgroup-active {
    background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo.png');
}

.formgroup-error {
    background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo-error.png');
    color: red;
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 65vh; /* Optional: Set minimum height for vertical centering */
}

.vcenter-div {
    display: flex;
    align-items: center;
    min-height: 10vh;
}

.hcenter-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
}

.img-round {
    border-radius: 10px;
    margin-left: 1%;
}

.homepage-body {
    padding: 0;
    margin: 0;
    font-family: 'Sniglet', cursive;
    background-color: var(--not-so-super-soft-red);
    color: white;
}

.sidebar {
    position: fixed;
    top: 11%;
    bottom: 0;
    left: 0;
    border-radius: 0 15px 15px 0;
    border-top-color: white;
    background-color: var(--ultra-soft-red);
    width: 15%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-y: auto;
}

.sidebar-right {
    position: fixed;
    top: 11%;
    bottom: 0;
    right: 0;
    border-radius: 15px 0 0 15px;
    background-color: var(--ultra-soft-red);
    width: 15%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-y: auto;
}

/* navigation content */
.navigation-contents {
    height: 80%;
    width: 85%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: var(--kami-text-color);
}

.navigation-element {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--kami-text-color);
    background-color: transparent;
    transition: 0.2s ease-in-out;
}
.navigation-element:hover{
    background-color: var(--soft-red);
    color: var(--kami-red);
    transition: 0.2s ease-in-out;
}


/* homepage flow*/
.homepage-flow {
    margin-left: 15.5%;
    margin-right: 15.5%;
    margin-top: 0.7%;
    border-radius: 15px;
    height: 88%;
    overflow-y: auto !important;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    color: black;
    background-color: var(--not-so-super-soft-red);
}

.homepage-flow::-webkit-scrollbar {
    width: 0px;
}

.homepage-flow::-webkit-scrollbar-track {
    background-color: var(--soft-red);
    border-radius: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.homepage-flow::-webkit-scrollbar-thumb {
    background-color: var(--not-so-soft-red);
    border-radius: 100px;
}

.event-block {
    cursor: pointer;
    border-color: transparent;
    border-radius: 15px;
    width: 95%;
    height: 270px;
    min-height: 270px;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: red;
}

.event-block:hover {
    /*border: 5px solid red;
    transition: 0.2s ease-in-out;*/
}


/* search-box */
.search-box{
    position: relative;
    height: 50px;
    width: 500px;
    border-radius: 20px;
    border:1px solid blue;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box.active{
    width: 350px;
}
.search-box input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px;
    background: #fff;
    outline: none;
    padding: 0 60px 0 20px;
    font-size: 18px;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box input.active{
    opacity: 1;
}
.search-box input::placeholder{
    color: #a6a6a6;
}
.search-box .search-icon{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    height: 60px;
    width: 60px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 22px;
    color: #664AFF;
    cursor: pointer;
    z-index: 1;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box .search-icon.active{
    right: 5px;
    height: 50px;
    line-height: 50px;
    width: 50px;
    font-size: 20px;
    background: #664AFF;
    color: #fff;
    transform: translateY(-50%) rotate(360deg);
}
.search-box .cancel-icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box .cancel-icon.active{
    right: -40px;
    transform: translateY(-50%) rotate(360deg);
}
.search-box .search-data{
    text-align: center;
    padding-top: 7px;
    color: #fff;
    font-size: 18px;
    word-wrap: break-word;
}
.search-box .search-data.active{
    display: none;
}

/* event feed components */

.evf-event-identity {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-left: 20px;
}

.evf-event-details {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.evf-profilepic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.evf-host {
    height: 20px;
    width: 100%;
    font-weight: bold;
    display: inline-block;
}

.evf-name {
    height: 30px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
}

.evf-location {

}

.evf-location-detail {

}

.evf-description {
    margin-top: 20px;
    display: inline-block;
    height: 100px;
    width: 90%;
    vertical-align: middle;
    line-height: 100px;
    text-align: center;
    border: 2px solid white;
    border-radius: 15px;
}

.evf-photobox {
    color: black;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 15px;
    background-color: var(--not-so-super-soft-red);
}