@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);

:root {
    --kami-red: #D40707;
    --super-soft-red: #fff6f6;
    --ultra-soft-red: #fffbfb;
    --not-so-super-soft-red: #ffefef;
    --soft-red: #FFB2B2FF;
    --not-so-soft-red: #ff3737;
    --element-header-soft-red: #ffd1d1;
    --sidebar-color: var(--soft-red);
    --kami-text-color: #8d8d8d
}

body, html, header {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Sniglet', cursive;
    background-color: red;
    color: white;
}

/* Animation webkit */
@-webkit-keyframes myfirst {
    0% {
        margin-left: -235px
    }
    90% {
        margin-left: 100%;
    }
    100% {
        margin-left: 100%;
    }
}

/* Animation */
@keyframes myfirst {
    0% {
        margin-left: -235px
    }
    70% {
        margin-left: 100%;
    }
    100% {
        margin-left: 100%;
    }
}

header {
    height: 10%;
    background-color: var(--not-so-super-soft-red);
    border-radius: 0;
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 65vh; /* Optional: Set minimum height for vertical centering */
}

.vcenter-div {
    display: flex;
    align-items: center;
    min-height: 10vh;
}

.hcenter-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
}

.img-round {
    border-radius: 10px;
    margin-left: 10%;
}

.homepage-body {
    padding: 0;
    margin: 0;
    font-family: 'Sniglet', cursive;
    background-color: var(--not-so-super-soft-red);
    color: white;
}

.ev-dettagli-body {
    padding: 0;
    margin: 0;
    font-family: 'Sniglet', cursive;
    background-color: var(--not-so-super-soft-red);
    color: white;
}

/* utility */
.space {
    margin: 10px;
    color: red;
}

.input-left-padding {
    padding-left: 15px;
}

.margin-top-5p {
    margin-top: 5%;
}

.margin-bottom-5p {
    margin-bottom: 5%;
}

/* header stuff */
.logo-space {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo-space img{
    cursor: pointer;
}

.search-space {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-info-space {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}
.profile-info-space img{
    cursor: pointer;
}

.profile-picture {
    height: 62px;
    width: 62px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    cursor: pointer;
}
.profile-picture img {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Rende l'immagine circolare */
    overflow: hidden; /* Nasconde le parti dell'immagine che vanno oltre il bordo circolare */
}

/* sidebar */
.sidebar {
    position: fixed;
    top: 11%;
    bottom: 0;
    left: 0;
    border-radius: 0 15px 15px 0;
    border-top-color: white;
    background-color: var(--ultra-soft-red);
    width: 15%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-y: auto;
}

.sidebar-right {
    position: fixed;
    top: 11%;
    bottom: 0;
    right: 0;
    border-radius: 15px 0 0 15px;
    background-color: var(--ultra-soft-red);
    width: 15%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-y: auto;
}

/* navigation content */
.navigation-contents {
    height: 80%;
    width: 85%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: var(--kami-text-color);
}

.navigation-element {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--kami-text-color);
    background-color: transparent;
    transition: 0.2s ease-in-out;
}
.navigation-element:hover{
    cursor: pointer;
    background-color: var(--soft-red);
    color: var(--kami-red);
    transition: 0.2s ease-in-out;
}

.ne-active {
    background-color: var(--soft-red);
    color: var(--kami-red);
}

.navigation-element-onpage {
    border: 2px solid red;
    color: var(--kami-text-color);
}

.navigation-header {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--not-so-soft-red);
    background-color: var(--element-header-soft-red);
}

.navigation-options-box {
    width: 85%;
    height: 15%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navigation-switch {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--kami-text-color);
    background-color: transparent;
    transition: 0.2s ease-in-out;
}
.navigation-switch:hover {
    cursor: pointer;
    background-color: var(--soft-red);
    color: var(--kami-red);
    transition: 0.2s ease-in-out;
}

/* homepage flow*/
.homepage-flow {
    margin-left: 15.5%;
    margin-right: 15.5%;
    margin-top: 0.7%;
    border-radius: 15px;
    height: 88%;
    overflow-y: auto !important;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    color: black;
    background-color: var(--not-so-super-soft-red);
}

.homepage-flow::-webkit-scrollbar {
    width: 0px;
}

.homepage-flow::-webkit-scrollbar-track {
    background-color: var(--soft-red);
    border-radius: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.homepage-flow::-webkit-scrollbar-thumb {
    background-color: var(--not-so-soft-red);
    border-radius: 100px;
}

/* event */
.event-block {
    cursor: pointer;
    border-color: transparent;
    border-radius: 15px;
    width: 95%;
    height: 270px;
    min-height: 270px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: red;
}
.event-block:hover {
    border: 5px solid red;
    transition-delay: 0.3s !important;
    transition: 0.2s ease-in-out;
}

.event-details-block {
    border-color: transparent;
    border-radius: 15px;
    width: 95%;
    height: 100%;
    min-height: 270px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: red;
}


/* search-box */
.search-box{
    position: relative;
    height: 50px;
    width: 500px;
    border-radius: 20px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box.active{
    width: 350px;
}
.search-box input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px;
    background: #fff;
    outline: none;
    padding: 0 60px 0 20px;
    font-size: 18px;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box input.active{
    opacity: 1;
}
.search-box input::placeholder{
    color: #a6a6a6;
}
.search-box .search-icon{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    height: 60px;
    width: 60px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 22px;
    color: #664AFF;
    cursor: pointer;
    z-index: 1;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box .search-icon.active{
    right: 5px;
    height: 50px;
    line-height: 50px;
    width: 50px;
    font-size: 20px;
    background: #664AFF;
    color: #fff;
    transform: translateY(-50%) rotate(360deg);
}
.search-box .cancel-icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box .cancel-icon.active{
    right: -40px;
    transform: translateY(-50%) rotate(360deg);
}
.search-box .search-data{
    text-align: center;
    padding-top: 7px;
    color: #fff;
    font-size: 18px;
    word-wrap: break-word;
}
.search-box .search-data.active{
    display: none;
}

/* search box new */
.search-box-new {
    background-color: white;
    padding-left: 20px;
    color: red !important;
    height: 40px;
    width: 70%;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.search-box-new input{
    width: 90%;
    border: none;
    outline: none;
    background-color: transparent;
    font: inherit;
    color: inherit;
}
.search-box-new input::placeholder{
    color: inherit;
    font: inherit;
}

.search-box-new-img-container {
    width: 7%;
    display: flex;
    justify-content: flex-end;
}
.search-box-new-img-container img{
    cursor: pointer;
}

/* event feed components */
.evf-profilepic-space {
    width: 5%;
}

.evf-event-identity {
    color: white;
    width: 40%;
    max-width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-left: 20px;
}

.evf-event-identity-ex {
    color: white;
    width: 45%;
    max-width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-left: 20px;
}

.evf-event-details {
    width: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.evf-profilepic {
    height: 70px !important;
    width: 70px !important;
    border-radius: 50%;
    background-color: white;
    color: var(--kami-text-color);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.evf-profilepic img {
    cursor: pointer;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.evf-host {
    height: 20px;
    width: 100%;
    font-weight: bold;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.evf-host img{
    margin-right: 8px;
}

.evf-name {
    height: 30px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.evf-name img{
    margin-right: 8px;
}

.evf-location {
    width: 30%;
}

.evf-location-detail {

}
.evf-location-detail img{
    margin-right: 5px;
}

.evf-location-detail-pin {
    max-width: 100px;
    overflow-x: auto;
}
.evf-location-detail-pin img{
    margin-right: 5px;
}

.evf-description {
    margin-top: 20px;
    display: inline-block;
    height: 100px;
    width: 90%;
    vertical-align: middle;
    line-height: 100px;
    text-align: center;
    border: 2px solid white;
    border-radius: 15px;
}

.evf-photobox {
    color: var(--kami-text-color);
    width: 400px;
    height: 200px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 15px;
    background-color: var(--not-so-super-soft-red);
}

/* event details blocks */
.evd-container {
    width: 95%;
    height: 95%;
}

.evd-identity-block {
    width: 100%;
    height: 10%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.evd-location-block {
    width: 100%;
    height: 30%;
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.evd-description-block {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.evd-photobox-block {
    width: 100%;
    height: 30%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.evd-buttons-block {
    width: 100%;
    height: 8%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.evd-profilepic-space {
    display: flex;
    justify-content: flex-end;
}

.evd-event-identity {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    margin-left: 20px;
}

.evd-event-details {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.evd-profilepic {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: white;
    color: var(--kami-text-color);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    cursor: pointer;
}
.evd-profilepic img{
    width: 70px;
    height: 70px;
    border-radius: 50%; /* Rende l'immagine circolare */
    overflow: hidden; /* Nasconde le parti dell'immagine che vanno oltre il bordo circolare */
}

.evd-host {
    height: 30px;
    width: 100%;
    font-weight: bold;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.evd-host img {
    margin-right: 8px;
}

.evd-horizontal-line{
    width: 20%;
    margin-left: 40px;
    height: 2px;
    background-color: white;
    display: flex;
    align-items: flex-start;
}

.evd-name {
    height: 30px;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.evd-name img {
    margin-right: 8px;
}

.evd-location {
    width: 30%;
}

.evd-location-detail {
    height: 30px;
    font-size: 20px;
}
.evd-location-detail img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.evd-description {
    height: 80px;
    width: 92%;
    vertical-align: middle;
    line-height: 80px;
    text-align: center;
    border: 2px solid white;
    border-radius: 15px;
}

.evd-photobox {
    width: 92%;
    height: 100%;
    border-radius: 15px;
    border: 2px solid white;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.evd-photobox-img{
    color: var(--kami-text-color);
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: var(--not-so-super-soft-red);
}
.evd-photobox-img img {

}

.evd-maps-api-container {
    width: 35%;
    border-radius: 15px;
    border: 2px solid white;
}

.evd-maps-api {
    color: darkgreen;
    height: 180px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 15px;
    background-color: mediumseagreen;
}

.evd-location-info {
    height: 90%;
    width: 35%;
    text-align: center;
    vertical-align: middle;
    line-height: 170px;
    color: white;
    border-radius: 15px;
    border: 2px solid white;
}

.evd-buttons {
    width: 92%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.evd-button {
    height: 85%;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 15px;
    border: 2px solid white;
    background-color: white;
    font-family: inherit;
    font-size: 20px;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.evd-button:hover {
    color: white;
    border: 2px solid white;
    background-color: var(--not-so-soft-red);
}

/* user detail block */
.ud-identity-block {
    width: 100%;
    height: 20%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ud-details-block {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}

.ud-buttons-block {
    width: 100%;
    height: 10%;
    margin-top: 1%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ud-straight-line {
    width: 80%;
    margin-left: 10%;
    height: 2px;
    background-color: white;
}

.ud-profilepic-space {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.ud-username-space {
    height: 80%;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.ud-profilepic {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    color: var(--kami-text-color);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.ud-profilepic img{
    height: 90px;
    width: 90px;
    border-radius: 50%; /* Rende l'immagine circolare */
    overflow: hidden; /* Nasconde le parti dell'immagine che vanno oltre il bordo circolare */
}

.ud-user-info-space {
    font-size: 30px;
}
.ud-user-info-space img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.ud-user-info {
    display: flex;
    align-items: center;
}

/* Definizione dell'animazione */
.slide-in-from-top {
    animation: slideInFromTop 0.5s ease-in-out;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* media photobox */
.gallery {
    display: flex;
    gap: 1rem;
    max-width: 80rem;
}

.card {
    position: relative;
    margin: 0;
    height: 100%;
    border-radius: 1.2rem;
    overflow: hidden;
    background-color: white;
    transition: 0.4s ease-in-out;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
    flex: 0.3;
}

.card img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card:hover {
    flex: 0.7;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1rem;
}

/* crea evento */
.ce-block {
    border-color: transparent;
    border-radius: 15px;
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: var(--soft-red);
}

.ce-input-section {
    width: 95%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ce-title-block {
    width: 100%;
    height: 10%;
    font-size: 40px;
    color: red;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ce-column-division-block {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ce-form {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.ce-half-section {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.ce-button-section {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* input classes */
.ce-input {
    width: 80%;
    height: 50px;
    margin-bottom: 20px;
    font-family: 'Sniglet', cursive;
    display: flex;
}

.ce-input-box {
    width: 90%;
    height: 53px;
    min-height: 53px;
    max-height: 53px;
    padding-left: 10px;
    vertical-align: center;
    line-height: 53px;
    border-radius: 0 15px 15px 0;
    border: 2px solid white;
    font-family: 'Sniglet', cursive;
    font-size: 20px;
    color: grey;
    overflow-y: hidden;
}

.ce-input-label {
    width: 15%;
    height: 50px;
    border-radius: 15px 0 0 15px;
    border: 2px solid red;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ce-input-label img {
    width: 30px;
    height: 30px;
}

.ce-textarea {
    width: 90%;
    height: 50px;
    border-radius: 0 15px 15px 0;
    border: 2px solid white;
    font-family: 'Sniglet', cursive;
    padding-left: 10px;
    overflow-y: hidden;
    resize: none;
}

.ce-textarea-label {
    height: 50px;
}

.ce-checkbox {
    cursor: pointer;
}
.ce-checkbox:focus {
    outline: none;
}

/* lista utenti partecipanti */
.ul-user-block {
    border-color: transparent;
    border-radius: 15px;
    width: 95%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: red;
}

.ul-user-container {
    width: 95%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul-profilepic-space {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul-username-space {
    width: 40%;
    height: 100%;
    font-size: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ul-buttons-space {
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ul-profilepic {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: var(--super-soft-red);
    color: var(--kami-text-color);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.ul-profilepic img {
    cursor: pointer;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.ul-button {
    height: 85%;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 15px;
    background-color: white;
    font-family: inherit;
    font-size: 20px;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.ul-button:hover {
    color: var(--kami-red);
    background-color: var(--soft-red);
}
